.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
     "sidebar main"
      "footer footer";
      .header  { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main    { grid-area: main; }
.footer  { grid-area: footer; }
gap: 16px;
}
.big-item{
    grid-column: span 2;
}
.container div {
  background: steelblue;
  color: white;
  padding: 20px;
}
.big-item {
  grid-column: span 3;
  background: coral;
}