body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}
.gallery-item img{
    width: 100%;
    border-radius:8px ;
} 
.gallery-item p{
    margin-top: 10px;
    font-weight: bold;
}

.gallery- img:hover{
    transform: scale(1.05);
}
@media (max-width: 786px) {
    .gallery{   
    grid-template-columns: repeat(2,1fr);
    
}
main{
    grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:480px){
    .gallery{
        grid-template-columns: 1fr;
    }
    main{
        grid-template-columns: 1fr;
    }
    nav a{
        display:block;
        margin: 10px 0;
    }
}